# vim: ft=systemd
[Unit]
Description=Town OS Network Diagnostics Timer
After=town-os-systemcontroller.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=10
# Stop after 2 minutes (12 runs x 10s)
AccuracySec=1s

[Install]
WantedBy=default.target
