[Unit]
Description=Mount persistent etc/var overlays from btrfs
DefaultDependencies=no
ConditionDirectoryNotEmpty=/town-os/etc/overlays/root
After=local-fs-pre.target
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -t overlay overlay -o lowerdir=/.town/sfs/etc,upperdir=/town-os/etc/overlays/root,workdir=/town-os/etc/overlays/work /etc
ExecStart=/bin/sh -c 'if ls /town-os/ssh/authorized_keys/* >/dev/null 2>&1; then sed -i -e "s|^#\\?AuthorizedKeysFile[[:space:]].*|AuthorizedKeysFile /town-os/ssh/authorized_keys/%%u|" -e "s|^#\\?PasswordAuthentication.*|PasswordAuthentication no|" /etc/ssh/sshd_config; fi'

[Install]
WantedBy=local-fs.target
