[Unit]
Description=Provision Town OS storage pool
DefaultDependencies=no
After=systemd-udev-settle.service

Conflicts=umount.target
Before=umount.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/town-os/scripts/make-storage.sh

[Install]
WantedBy=local-fs.target
