# vim: ft=systemd
[Unit]
Description=Town OS System Controller
DefaultDependencies=yes
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
ExecStartPre=/usr/bin/mkdir -p /town-os/data/db /town-os/data/repos
ExecStartPre=-/usr/bin/podman rm -f systemcontroller
ExecStart=/usr/bin/podman run --pull=always \
    --name systemcontroller \
    --privileged \
    --security-opt label=disable \
    --net host \
    --pid host \
    -v /etc/systemd:/etc/systemd \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /run/systemd:/run/systemd \
    -v /run/dbus:/run/dbus \
    -v /dev:/dev \
    -v /etc/machine-id:/etc/machine-id:ro \
    -v /town-os:/town-os:shared \
    -v /var/log:/var/log \
    quay.io/town/town:rc.latest \
    /systemcontroller \
    -repo-dir /town-os/data/repos \
    -db /town-os/data/db/system.db \
    -btrfs /town-os \
    @PACKAGE_DNS@
Restart=always

[Install]
WantedBy=default.target
